tmp
.DS_Store
.idea
.iml
target
*.iml

/codegen/velocity.log
/build/
codegen/build/
codegen/out/
codegen_plugin/build/classes/
codegen_plugin/build/reports/
codegen_plugin/build/test-results/
codegen_plugin/build/idea-sandbox/
codegen_plugin/build/libs/
codegen_plugin/build/patchedPluginXmlFiles/
codegen_plugin/build/resources/
codegen_plugin/out/
out/
!codegen_plugin/build/distributions/
.gradle
gradle
codegen_plugin/libs/transient/*.jar
